#blacklist top level folder
/*

#whitelist files & folders
!.gitignore
!README.md

# .config/
!.config/ranger
!.config/kitty
!.config/nvim
# !.config/github-copilot

!.npmrc

!.vimrc
!.vim/
.vim/*
!.SpaceVim.d/
!.vim/autoload

