# Your keymap
#
# Atom keymaps work similarly to style sheets. Just as style sheets use
# selectors to apply styles to elements, Atom keymaps use selectors to associate
# keystrokes with events in specific contexts.
#
# You can create a new keybinding in this file by typing "key" and then hitting
# tab.
#
# Here's an example taken from Atom's built-in keymap:
#
# 'atom-text-editor':
#   'enter': 'editor:newline'
#
# 'atom-workspace':
#   'ctrl-shift-p': 'core:move-up'
#   'ctrl-p': 'core:move-down'
#
# You can find more information about keymaps in these guides:
# * https://atom.io/docs/latest/using-atom-basic-customization#customizing-key-bindings
# * https://atom.io/docs/latest/behind-atom-keymaps-in-depth
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it here:
# https://github.com/bevry/cson#what-is-cson

# Your keymap
# Xcode style
'body':
  'ctrl-tab': 'pane:show-next-item'
  'alt-cmd-up': 'pane:split-up'
  'alt-cmd-down': 'pane:split-down'
  'shift-cmd-L': 'application:open-dev'
  'shift-cmd-0': 'window:reset-font-size'

'.platform-darwin':
  'shift-cmd-O': 'fuzzy-finder:toggle-file-finder'
  'shift-cmd-0': 'image-view:reset-zoom'
  'cmd-0': 'tree-view:toggle'
  'shift-cmd-J': 'tree-view:reveal-active-file'
  'cmd-b': 'build:trigger'
  # Toggle find panes
  'cmd-F': 'project-find:toggle'
  'cmd-f': 'find-and-replace:toggle'

'.markdown-preview':
  'shift-cmd-0': 'markdown-preview:reset-zoom'

'.platform-darwin .editor':
  'ctrl-cmd-up': 'switch-header-source:switch'
  'ctrl-cmd-down': 'switch-header-source:switch'

'.platform-darwin, .platform-darwin .command-palette atom-text-editor':
    'ctrl-shift': 'command-palette:toggle'

#  'cmd-shift-o': 'fuzzy-finder:toggle-file-finder' # xcode style
