/*
 * Your Stylesheet
 *
 * This stylesheet is loaded when Atom starts up and is reloaded automatically
 * when it is changed.
 *
 * If you are unfamiliar with LESS, you can read more about it here:
 * http://www.lesscss.org
 */

 @gameface: 'https://blackwaterparkstudios.com/img/gameface-logo@2x.png';
 @animated: 'https://blackwaterparkstudios.com/img/animated9.png';
 @programmer: 'https://cdn.dribbble.com/users/1162077/screenshots/3848914/programmer.gif';
 @headwear: 'https://cdn.dribbble.com/users/925704/screenshots/5998509/vr-girldribb.gif';

 @transparent_pink: rgba(255, 192, 203, .5);
 @semitransparent_yellow: rgba(255, 255, 0, .75);
 @white: rgba(0, 0, 0, 0);
 @seethru: rgba(0, 0, 0, 0.3);

 .pane {
   background: url(@headwear);
   //background-size: cover;
 }

 .editor {
   background: @seethru no-repeat right bottom;
   background-attachment: fixed;
 }

.tree-view {

}

// style the background and foreground colors on the atom-text-editor-element
// itself
atom-text-editor {

}

// To style other content in the text editor's shadow DOM, use the ::shadow
// expression
atom-text-editor::shadow .cursor {

}

// Not liking the wrap guide. to start with.
.editor {
  .wrap-guide {
    visibility: hidden;
  }
}

//to look good on the fusebox
.settings-view { font-size: 15px; }
.tab-bar .tab .title {
  font-size: 14px;
}

atom-text-editor {
    -webkit-font-smoothing: antialiased;
}

.terminal-plus {
  font: 'Menlo';
}

.markdown-preview.markdown-preview {
  //background-color: #000000;
  //color: #ffffff;
}
