/*
 * Your Stylesheet
 *
 * This stylesheet is loaded when Atom starts up and is reloaded automatically
 * when it is changed.
 *
 * If you are unfamiliar with LESS, you can read more about it here:
 * http://www.lesscss.org
 */

 @tokyo: 'http://i.imgur.com/iyzcz9P.jpg';
 @hokkaido_jingu_mae_doori: 'http://media-cache-ec0.pinimg.com/originals/53/0b/1d/530b1dddb1d525b34c36ea37e305b6b0.jpg';
 @monument_road: 'http://i.imgur.com/AM6sUD4.jpg';
 @toronto_black_white: 'http://i.imgur.com/BuSlG4R.jpg';
 @moscow: 'http://i.imgur.com/VFFbr9k.jpg';
 @choose: 'http://i.imgur.com/DlUdPpj.jpg';
 @chicago: 'https://i.imgur.com/MpArRCN.jpg';
 @toronto_night_mine: 'https://farm4.staticflickr.com/3681/19209645660_b9b9693293_k_d.jpg';
 @toronto_mine: 'https://farm4.staticflickr.com/3945/18833622323_0cf91726ac_k_d.jpg';
 @toronto_coast: 'https://farm1.staticflickr.com/536/18831740914_ff143c8e5f_k_d.jpg';
 @toronto_downtown: 'https://farm8.staticflickr.com/7414/27806244050_dc2b254f93_k_d.jpg';
 @nomanssky: 'http://i.imgur.com/IVIxLlq.jpg';

 @transparent_pink: rgba(255, 192, 203, .5);
 @semitransparent_yellow: rgba(255, 255, 0, .75);
 @editor_background: rgba(0, 0, 0, .3);
 @sfbridge: 'https://interfacelift.com/wallpaper/7yz4ma1/02428_theintersection_1920x1080.jpg';

 .pane {
   background: url(@toronto_downtown);
   background-size: cover;
 }

 .editor {
   background: @editor_background no-repeat right bottom;
 //  background-attachment: fixed;
 }

.tree-view {

}

// style the background and foreground colors on the atom-text-editor-element
// itself
atom-text-editor {

}

// To style other content in the text editor's shadow DOM, use the ::shadow
// expression
atom-text-editor::shadow .cursor {

}

// Not liking the wrap guide. to start with.
.editor {
  .wrap-guide {
    visibility: hidden;
  }
}

//to look good on the fusebox
.settings-view { font-size: 15px; }
.tab-bar .tab .title {
  font-size: 14px;
}

atom-text-editor {
    -webkit-font-smoothing: antialiased;
}

.terminal-plus {
  font: 'Menlo';
}
